.d { width: 220px;
       height: 80px;
       margin-left: 0px 5px 0px 0px;
       text-align: justify;
       border: 1px solid;
       float:left; }
   .d img {float:left;
          width:70px;
          height:75px;
          border: 1px solid;
          clear: bottom;}

.d p{ margin-top: 1px; }